/*style custom*/
body{
    overflow-x:hidden; 
    background-color: #f5f5f5;
}
.mg-bt-15 {
    margin-bottom: 15px;
}
.mg-0{
    margin:0;
}
.pd-0{
    padding:0;
}
.padding-lr-15{
    padding:0 15px;
}
.mg-r-15{
    margin-right:15px;
}

/*.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.cursor-pointer{
    cursor:pointer;
}
.form-group{
    overflow:hidden;
}

@media (max-width: 767px) {
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}*/

/* Loading */

.lds-loading {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    position: absolute;
    width: 128px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
}

    .lds-loading div {
        position: absolute;
        top: 27px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #3c763d;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-loading div:nth-child(1) {
            left: 12px;
            animation: lds-loading1 0.6s infinite;
        }

        .lds-loading div:nth-child(2) {
            left: 12px;
            animation: lds-loading2 0.6s infinite;
        }

        .lds-loading div:nth-child(3) {
            left: 52px;
            animation: lds-loading2 0.6s infinite;
        }

        .lds-loading div:nth-child(4) {
            left: 90px;
            animation: lds-loading3 0.6s infinite;
        }

@keyframes lds-loading1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-loading3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-loading2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(38px, 0);
    }
}

/* ******* */

/* SUB NAVBAR */
.navbar .divider-vertical {
    height: 2px;
    margin: 6px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-top-color: #222222;
    border-bottom-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}
/* ******* */

/**/
.modal-full-width .modal-dialog {
    width: auto !important;
    margin: 12px !important;
}
/**********/
.table > thead > tr > th {
    color: #31708f;
}
    th .th-xs-1, td.td-xs-1 {
    min-width: 42px;
    max-width: 42px;
    width: 42px;
}

th.th-sm-1, td.td-sm-1 {
    min-width: 52px;
    max-width: 52px;
    width: 52px;
}

th.th-sm-2, td.td-sm-2 {
    min-width: 85px;
    max-width: 85px;
    width: 85px;
}

th.th-sm-3, td.td-sm-3 {
    min-width: 118px;
    max-width: 118px;
    width: 118px;
}

th.th-sm-4, td.td-sm-4 {
    min-width: 151px;
    max-width: 151px;
    width: 151px;
}
/* ******* */

/*navigation colors*/
.navbar-ndc {
    background-color: #337ab7;
    border-color: #2e6da4;
}

    .navbar-ndc .navbar-brand {
        color: #e8eaea;
    }

        .navbar-ndc .navbar-brand:hover,
        .navbar-ndc .navbar-brand:focus {
            color: #ced2d4;
        }

    .navbar-ndc .navbar-text {
        color: #e8eaea;
    }

    .navbar-ndc .navbar-nav > li > a {
        color: #ffffff;
    }

        .navbar-ndc .navbar-nav > li > a:hover,
        .navbar-ndc .navbar-nav > li > a:focus {
            background-color: #286090;
        }

    .navbar-ndc .navbar-nav > .active > a,
    .navbar-ndc .navbar-nav > .active > a:hover,
    .navbar-ndc .navbar-nav > .active > a:focus {
        background-color: #2e6da4;
    }

    .navbar-ndc .navbar-nav > .open > a,
    .navbar-ndc .navbar-nav > .open > a:hover,
    .navbar-ndc .navbar-nav > .open > a:focus {
        background-color: #286090;
    }

    .navbar-ndc .navbar-toggle {
        border-color: #2e6da4;
    }

        .navbar-ndc .navbar-toggle:hover,
        .navbar-ndc .navbar-toggle:focus {
            background-color: #2e6da4;
        }

        .navbar-ndc .navbar-toggle .icon-bar {
            background-color: #e8eaea;
        }

    .navbar-ndc .navbar-collapse,
    .navbar-ndc .navbar-form {
        border-color: #e8eaea;
    }

    .navbar-ndc .navbar-link {
        color: #e8eaea;
    }

        .navbar-ndc .navbar-link:hover {
            color: #ced2d4;
        }

@media (max-width: 767px) {
    .navbar-ndc .navbar-nav .open .dropdown-menu > li > a {
        color: #e8eaea;
    }

        .navbar-ndc .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-ndc .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #2e6da4;
        }

    .navbar-ndc .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-ndc .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-ndc .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ced2d4;
        background-color: #2e6da4;
    }
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 520px;
}

.navbar-ndc-login {
    width: 369px;
    padding: 10px;
    padding-bottom: 0px;
    margin: auto;
}

.navbar-ndc-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-ndc-icon-size {
    font-size: 87px;
}

.navbar-right .open .dropdown-menu {
    background-color: #ffffff !important;
}

/**********************/