.global-message {
    position: fixed;
    top: 15px;
    z-index: 999;
    padding: 15px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    text-align: center;
}

    .global-message.error {
        background-color: #dc3545;
        color: #ddd;
    }
    .global-message.warning {
        background-color: #ffc107;
        color: #ddd;
    }
    .global-message.success {
        background-color: #28a745;
        color: #fff;
    }
.fade-out {
    opacity: 0;
    width: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fade-in {
    opacity: 1;
    transition: width 0.2s, height 0.2s, opacity 0.2s 0.2s;
}